form{border: 3px solid #f1f1f1;}


input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: blue;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width:100%;
	border-radius: 4%;
}


button:hover {
	opacity: 0.8;
	background-color:red;
}


.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

.container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	
}

span.psw {
	float: right;
	padding-top: 16px;
}



.loginform {
display: grid;
grid-template-columns: repeat(7,1fr);
grid-gap: 1ch;
}

.authentication {
	grid-column: 3/6;
}


.alertmsg {
color: red;
text-align: center;
}


label {
grid-column-start:2;
grid-column-end: 3;
justify-self: center;
}
input {
	grid-column: 1/4;
}
